PORT=your_app_port

DB_HOST=your_db_host
DB_PORT=your_db_port
DB_USER=your_db_user
DB_PASS=your_db_password
DB_NAME=your_dbname
JWT_SECRET=your_jwt_secret_key_here
GOOGLE_APPLICATION_CREDENTIALS=./firebase-service-account.json
APP_ENV=development

# OpenSearch Configuration
OPENSEARCH_HOST=localhost
OPENSEARCH_PORT=9200
OPENSEARCH_USER=admin
OPENSEARCH_PASSWORD=admin
